<nav class="navbar navbar-expand-lg top-navbar final-navbar shadow">
    <div class="container">
      <a class="navbar-brand" href="{{ .baseURL }}">
        <img src="/assets/images/logo.png">
        {{- .title -}}
      </a>
      <button class="navbar-toggler navbar-light" type="button" {{ if .hasToggleButton }}onclick="toggleSidebar()"{{ end }}>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="top-nav-items">
        <ul id="navbar2" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link smooth-scroll" href="{{ .baseURL }}">Accueil</a>
            </li>
            <div class="dropdown-divider" id="top-navbar-divider"></div>
            <li class="nav-item">
                <a class="nav-link active" id="blog-link" href="/blog" target="_self">Blog</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
